html {
    font-family: "Roboto", sans-serif, Helvetica;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
}
button {
    background-color: #3882F6;
    color: white;
    display: inline-block;
    padding: 10px 30px; /* Adjust padding as needed */
    border-radius: 5px;
    font-size: 1.15em;
}

footer {
    background-color: #1F2937;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0px auto;
    max-width: 1200px;
}

.header_left {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_logo {
    width: 30px;
    height: 30px;
}

.header_right {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header_link {
    text-decoration: none;
    color: #E5E7E8;
    font-size: 18px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 0px auto;
    max-width: 1200px;
}

.item_one {
    background-color: #1F2937;
}

.item_one_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero_first {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    }

.hero_second {
    color: #E5E7E8;
    font-size: 18px;
}

.item_one_right {
    width: 300px;
    
}

.item_two {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 16px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.packages {
    display: flex;
    gap: 32px;
}

.package {
    width: 200px;
    flex: 1;
}

.package_img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 5px solid #E5E7E8;
}

.package_description {
    text-align: center;
}
.item_three {
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.quote_author {
    font-size: 1.25em;
    font-weight: bold;
}

.item_four {

}

.item_four_container {
    background-color: #3882F6;
    color: #E5E7EB;

}

.footer {
    color: #E5E7EB;
}